<app-menu></app-menu>

<mat-card class="example-card little-card" *ngIf="filtro">
  <div class="options">
    <h2>Filtro OS</h2>

    <input type="text" class="form-control select2" placeholder="Ano" #ano >


    <select class="form-select select" aria-label="Default select example" #tipo >
      <option value="Tecnicos">Tecnicos</option>
      <option value="Clientes">Clientes</option>
    </select>

    <button type="button" class="btn btn-outline-primary margin" (click)="Execute(ano.value, tipo.value)">Ok</button>
  </div>
</mat-card>

<div class="centrocusto center" *ngIf="totalOSjan">
  <mat-card class="example-card text-white center title">
      <div class="centrocusto">
        <h2>OS </h2>
        <h2 *ngIf="status">({{ status }})</h2>
      </div>
      <div>
        <h2>{{ ano }}</h2>
      </div>
  </mat-card>
</div>

<div>

  <mat-card *ngIf="showtable">

    <div class="card-table">
      <table class="table table-bordered table-borderless table-hover">
        <thead>
          <tr>
            <th class="center fixed bg-primary text-white"></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Total</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Jan</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Fev</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Mar</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Abr</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Mai</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Jun</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Jul</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Ago</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Set</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Out</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Nov</h2></th>
            <th class="center fixed bg-primary text-white"                     ><h2>Dez</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h2>Todas OS</h2></td>
            <td class="center" (click)="showos('total')">{{ totalOS }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSjan }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSfev }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSmar }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSabr }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSmai }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSjun }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSjul }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSago }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSset }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSout }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSnov }}</td>
            <td class="center" (click)="showos('total')">{{ totalOSdez }}</td>
          </tr>
          <tr>
            <td><h2>Concluida</h2></td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ totalconcluida }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSjan }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSfev }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSmar }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSabr }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSmai }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSjun }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSjul }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSago }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSset }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSout }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSnov }}</td>
            <td class="center" (click)="showos('CONCLUIDA')">{{ concluidaOSdez }}</td>
          </tr>
          <tr>
            <td><h2>Conferida</h2></td>
            <td class="center" (click)="showos('CONFERIDA')">{{ totalconferida }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSjan }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSfev }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSmar }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSabr }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSmai }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSjun }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSjul }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSago }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSset }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSout }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSnov }}</td>
            <td class="center" (click)="showos('CONFERIDA')">{{ conferidaOSdez }}</td>
          </tr>
          <tr>
            <td><h2>Pendente</h2></td>
            <td class="center" (click)="showos('PENDENTE')">{{ totalpendente }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSjan }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSfev }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSmar }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSabr }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSmai }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSjun }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSjul }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSago }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSset }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSout }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSnov }}</td>
            <td class="center" (click)="showos('PENDENTE')">{{ pendenteOSdez }}</td>
          </tr>
          <tr>
            <td><h2>Em pausa</h2></td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ totalempausa }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSjan }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSfev }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSmar }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSabr }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSmai }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSjun }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSjul }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSago }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSset }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSout }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSnov }}</td>
            <td class="center" (click)="showos('EM_PAUSA')">{{ empausaOSdez }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </mat-card>

  <mat-card *ngIf="showtelaos && tipo == 'Clientes' ">

    <div class="card-table">

      <div class="form-button">
        <button class="btn btn-outline-primary margin" (click)="backos()">
          Voltar
        </button>
  
      </div>

        
      <div class="filtros-receitas">
        <mat-form-field class="example-form-field" appearance="fill" style="width: 27%;">
          <mat-label>Cód</mat-label>
          <input matInput type="text" (keyup)="filtarDespesas($event, 'cod')">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill" style="width: 67%;">
          <mat-label>Nome</mat-label>
          <input matInput type="text" (keyup)="filtarDespesas($event, 'nome')">
        </mat-form-field>
      </div>

      <table class="table table-bordered table-borderless">
        <thead>
          <tr>
            <th class="center fixed bg-primary text-white" ><h2>Cód</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('nome')"><h2>Nome</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('total')"><h2>Total</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jan')"><h2>Jan</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('fev')"><h2>Fev</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('mar')"><h2>Mar</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('abr')"><h2>Abr</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('mai')"><h2>Mai</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jun')"><h2>Jun</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jul')"><h2>Jul</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('ago')"><h2>Ago</h2></th> 
            <th class="center fixed bg-primary text-white" (click)="orderos('set')"><h2>Set</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('out')"><h2>Out</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('nov')"><h2>Nov</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('dez')"><h2>Dez</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center">-</td>
            <td class="      ">TOTAL</td>
            <td class="center valores" (click)="showdetalhesclientes('total', 'total')">{{ totaltotal }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '1')">{{ totaljan }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '2')">{{ totalfev }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '3')">{{ totalmar }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '4')">{{ totalabr }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '5')">{{ totalmai }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '6')">{{ totaljun }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '7')">{{ totaljul }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '8')">{{ totalago }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '9')">{{ totalset }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '10')">{{ totalout }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '11')">{{ totalnov }}</td>
            <td class="center valores" (click)="showdetalhesclientes('total', '12')">{{ totaldez }}</td>
          </tr>
          <tr *ngFor="let cliente of clientes">
            <td class="center">{{ cliente.cod }}</td>
            <td class="      ">{{ cliente.nome }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, 'total')">{{ cliente.total }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '1')">{{ cliente.jan }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '2')">{{ cliente.fev }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '3')">{{ cliente.mar }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '4')">{{ cliente.abr }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '5')">{{ cliente.mai }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '6')">{{ cliente.jun }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '7')">{{ cliente.jul }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '8')">{{ cliente.ago }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '9')">{{ cliente.set }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '10')">{{ cliente.out }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '11')">{{ cliente.nov }}</td>
            <td class="center valores" (click)="showdetalhesclientes(cliente.cod, '12')">{{ cliente.dez }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </mat-card>

  <mat-card *ngIf="showtelaos && tipo == 'Tecnicos' ">

    <div class="card-table">

      <div class="form-button">
        <button class="btn btn-outline-primary margin" (click)="backos()">
          Voltar
        </button>
  
      </div>

      <div class="filtros-receitas">
        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%;">
          <mat-label>Nome</mat-label>
          <input matInput type="text" (keyup)="filtarDespesas($event, 'tecnico')">
        </mat-form-field>
      </div>
  
      <table class="table table-bordered table-borderless">
        <thead>
          <tr>
            <th class="center fixed bg-primary text-white" (click)="orderos('nome')"><h2>Nome</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('total')"><h2>Total</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jan')"><h2>Jan</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('fev')"><h2>Fev</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('mar')"><h2>Mar</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('abr')"><h2>Abr</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('mai')"><h2>Mai</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jun')"><h2>Jun</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('jul')"><h2>Jul</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('ago')"><h2>Ago</h2></th> 
            <th class="center fixed bg-primary text-white" (click)="orderos('set')"><h2>Set</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('out')"><h2>Out</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('nov')"><h2>Nov</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderos('dez')"><h2>Dez</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="              " >TOTAL</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 'total')">{{ totaltotal }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 1)">{{ totaljan }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 2)">{{ totalfev }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 3)">{{ totalmar }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 4)">{{ totalabr }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 5)">{{ totalmai }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 6)">{{ totaljun }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 7)">{{ totaljul }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 8)">{{ totalago }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 9)">{{ totalset }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 10)">{{ totalout }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 11)">{{ totalnov }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos('total', 12)">{{ totaldez }}</td>
          </tr>
          <tr *ngFor="let tecnico of tecnicos">
            <td class="      "         >{{ tecnico.nome }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, 'total')">{{ tecnico.total }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '1')">{{ tecnico.jan }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '2')">{{ tecnico.fev }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '3')">{{ tecnico.mar }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '4')">{{ tecnico.abr }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '5')">{{ tecnico.mai }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '6')">{{ tecnico.jun }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '7')">{{ tecnico.jul }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '8')">{{ tecnico.ago }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '9')">{{ tecnico.set }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '10')">{{ tecnico.out }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '11')">{{ tecnico.nov }}</td>
            <td class="center valores" (click)="showosdetalhestecnicos(tecnico.nome, '12')">{{ tecnico.dez }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </mat-card>
  
  <mat-card *ngIf="showtelaosdetalhes && tipo == 'Tecnicos' ">

    <div class="card-table">

      <div class="form-button">
        <button class="btn btn-outline-primary margin" (click)="backtelaos()">
          Voltar
        </button>
  
      </div>
  
      <table class="table table-bordered table-borderless">
        <thead>
          <tr>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('abertura')"            ><h2>Abertura</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('conclusao')"           ><h2>Encerramento</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('descricaoSolicitacao')"><h2>Solicitação</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('descricaoSolucao')"    ><h2>Solução</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('nomeInformal')"        ><h2>Nome Cliente</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('codigo')"              ><h2>Cód Cliente</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('tecnico')"             ><h2>Tecnico</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('sequencia')"           ><h2>Sequencia</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('status')"              ><h2>Status</h2></th> 
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('valorTotal')"          ><h2>Valor Total</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let os of osdetalhes">
            <td class="      "      >{{ os.dataabertura }}</td>
            <td class="center"      >{{ os.dataconclusao }}</td>
            <td class="center"      >{{ os.descricaoSolicitacao }}</td>
            <td class="center"      >{{ os.descricaoSolucao }}</td>
            <td class="center"      >{{ os.nomeInformal }}</td>
            <td class="center"      >{{ os.codigo }}</td>
            <td class="center"      >{{ os.tecnico }}</td>
            <td class="center"      >{{ os.sequencia }}</td>
            <td class="center"      >{{ os.status }}</td>
            <td class="center"      >{{ os.valorTotal }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </mat-card>
  
  <mat-card *ngIf="showtelaosdetalhes && tipo == 'Clientes' ">

    <div class="card-table">

      <div class="form-button">
        <button class="btn btn-outline-primary margin" (click)="backtelaos()">
          Voltar
        </button>
  
      </div>
  
      <table class="table table-bordered table-borderless">
        <thead>
          <tr>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('abertura')"            ><h2>Abertura</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('conclusao')"           ><h2>Encerramento</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('descricaoSolicitacao')"><h2>Solicitação</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('descricaoSolucao')"    ><h2>Solução</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('nomeInformal')"        ><h2>Nome Cliente</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('codigo')"              ><h2>Cód Cliente</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('tecnico')"             ><h2>Tecnico</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('sequencia')"           ><h2>Sequencia</h2></th>
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('status')"              ><h2>Status</h2></th> 
            <th class="center fixed bg-primary text-white" (click)="orderosdetalhes('valorTotal')"          ><h2>Valor Total</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let os of osdetalhes">
            <td class="      "          >{{ os.dataabertura }}</td>
            <td class="center"          >{{ os.dataconclusao }}</td>
            <td class="center"          >{{ os.descricaoSolicitacao }}</td>
            <td class="center"          >{{ os.descricaoSolucao }}</td>
            <td class="center"          >{{ os.nomeInformal }}</td>
            <td class="center"          >{{ os.codigo }}</td>
            <td class="center"          >{{ os.tecnico }}</td>
            <td class="center"          >{{ os.sequencia }}</td>
            <td class="center"          >{{ os.status }}</td>
            <td class="center"          >{{ os.valorTotal }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </mat-card>

</div>